.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.arduino/output/.last-used
.arduino/output/build.options.json
.arduino/output/compile_commands.json
.arduino/output/sketch/BilESP.ino.cpp
.vscode/arduino.json
.vscode/settings.json
