docker/mariadb-data/*
docker/node-red-data/*
docker/mosquitto-log/*
docker/mosquitto-data/*
!docker/node-red-data/flows.json
!docker/node-red-data/settings.js
!docker/node-red-data/package.json
!docker/node-red-data/flows_cred.json
!docker/mqtt-log/README.md
!docker/mqtt-data/README.md
!docker/mariadb-data/README.md