docker/mariadb-data/*
docker/node-red-data/*
docker/mosquitto-log/*
docker/mosquitto-data/*
!docker/node-red-data/flows.json
!docker/node-red-data/settings.js
!docker/node-red-data/package.json
!docker/node-red-data/flows_cred.json